<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.dao.NewsDetailDao">

<insert id="insert" parameterType="com.example.domain.NewsDetail">
	insert into news_details(news_id, article, photo)
	values
	(#{newsId}, #{article}, #{photo})
</insert>
</mapper>